.matcha {
    background-color: rgb(235, 239, 241);
    padding-top: 50px;
}
.blue-box{ 
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-color:#003865;
    border-radius: 40px;
    padding: 50px 100px 50px 100px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 50px 12px 20px rgba(0, 0, 0, 0.3);
    }
    .blue-box h3 {
        font-family: "Fredoka";
        font-weight: bold;
        font-size: 2rem;
        line-height: 1.3;
        text-align: left;
        padding-bottom: 10px;
        padding-top: 100px;
    }
    .blue-box p {
        font-family: "Fredoka";
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1.3;
        text-align: left;
        max-width: 550px;
    }
    .blue-box button{
        background-color: #FFFFFF;
        font-size: 1rem;
        border: none;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 40px;
        padding: 16px 30px;
        border-radius: 15px;
        cursor: pointer;
        color: #003865;
        transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    .blue-box button:hover {
        background: saddlebrown;
        color: #FFFFFF;
    }
    .image-box {
        background-color: #003865;
        border-radius: 40px;
        padding: 20px;
        flex: 1;
        display: flex;
        justify-content:right;
        max-width: 550px;
        min-width: 400px;
    }
    .image-box img {
        max-width: 400px;
        min-width: 300px;
        border-radius: 20px;
    }
