/*@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Fredoka', sans-serif;
}

body{
    height: 100vh;
    background: url("cup.jpg");
    background-position: center;
    background-size: cover;
    /*padding-top: 20px;*/
}
header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

header .navbar{
    display:flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content:space-between;
}
.navbar .logo{
    color:#003865;
    font-size: 2.1rem;
    font-weight: 600;
}
.navbar .logo span{
    color:saddlebrown;

}

.navbar .menu-links {
    display: flex;
    gap: 40px;
    list-style: none;
}
.navbar a{
    color:#003865;
    text-decoration: none;
    transition: 0.2s ease;
}
.navbar a:hover{
    color:saddlebrown;
}

.hero-section{
 height: 100vh;
 display: flex;
 align-items: center;
 padding: 0 20px; 
}

.hero-section .content{
    color: #003865;
    max-width: 1200px;
    width: 100%;
    margin:0 auto;
}

.hero-section .content h1{
    font-size: 3.5rem;
    max-width: 600px;
}
.hero-section .content p{
    font-size: 2rem;
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
}
.hero-section .content button{
    background-color: transparent;
    outline: none;
    border: 2px solid #003865;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 30px;
    padding: 16px 100px;
    border-radius: 15px;
    cursor: pointer;
    color: #003865;
}
.hero-section .content button:hover{
    color:saddlebrown;
    border: 2px solid saddlebrown;
}
#menu-btn{
    color:#003865;
    cursor:pointer;
    display: none;
}
#close-btn{
    color:#003865;
    cursor:pointer;
    position: absolute;
    top: 20px;
    right:20px;
    display: none;
}

@media screen and (max-width:900px){
    header{
        padding: 10px 20px;
    }
    header.show-mobile-menu::before{
        content:"";
        position:fixed;
        left: 0;
        top:0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(3px);
    }
    #close-btn, #menu-btn {
        display:block;
    }

    .navbar .menu-links {
        position: fixed;
        left: -260px;
        top: 0;
        flex-direction: column;
        width: 260px;
        height: 100vh;
        background-color:rgba(255, 255, 255, 0.93);
        padding: 70px 40px 0;
        transition: left 0.15s ease;
    }
    header.show-mobile-menu .navbar .menu-links{
        left: 0;
    }
    .navbar a{
        color:#003865;

    }
    .hero-section .content{
        text-align: center; 
    }
    .hero-section .content :is(h1, p){
        max-width: 100%;
    }
    .hero-section .content h1 {
        font-size: 2.3rem;
        line-height: 60px;
    }
    .hero-section .content button{
        padding: 12px 60px;
    }

}