.cart-container {
    position: relative;
    display: inline-block;

}


.cart-dropdown {
    display: none; /* Initially hidden */
    position: absolute;
    top: 150%; /* Position below the cart button */
    right: -13px; /* Align to the right of the container */
    background-color: #f9f9f9;
    min-width: 250px; /* Menu width */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    max-height: 600px; /* Maximum height of the dropdown */
    overflow-y: auto;
}


/* Dropdown menu <p> paragraph text*/
.cart-dropdown p {
    font-family: 'Fredoka', sans-serif; 
    font-size: 1.2rem; 
    font-weight: 'Fredoka'; 
    color: #333; 
    text-align: center;
    margin: 10px 0;
}

#go-shopping-btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #003865;
    color: white;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 25px;
}

#go-shopping-btn:hover {
    background-color: saddlebrown;
}

.mini-images{
    position: absolute;
    top: 2px;
    right: 7px;
}

.mini-image {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.cart-body {
    text-align: center;
}

.cart-icon {
    width: 80px;
    height: 80px;
}

.cart-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

