/* terms.css */


main {
    max-width: 900px;
    margin: 150px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

h1 {
    font-size: 2.5rem;
    color: #3b3b3b;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8rem;
    color: #444;
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 15px;
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}
